/* Add to the existing styles.css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    justify-content: center; /* Center modal content */
    align-items: center; /* Center modal content */
    text-align: center; /* Center text */
}

/* Additional styles for the modal */
.modal span.close {
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin: 15px;
}

.modal p {
    color: #fff;
    text-align: center;
    margin: 100px 0; /* Center the text */
}
